.messages {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    * {
        transition: all .125s ease;
    }

    img {
        width: 2.4rem;
        height: auto;

        &:hover {
            width: 2.7rem;
        }
    }

    header {
        padding: .4rem 6rem;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 1rem;
        backdrop-filter: blur(2.5px);
        box-sizing: border-box;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        gap: 1rem;

        padding: 1rem;
        background-color: var(--bg);
        
        textarea {
            width: 100%;
            height: auto;
            padding: .8rem;
            background-color: var(--bg);
            border: 1px solid var(--border);
            border-radius: var(--border-radius-m);
            box-sizing: border-box;
        }

        &.multipleLines {
            align-items: flex-end;
        }
    }
}