.messages {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    * {
        transition: all .125s ease;
    }

    img {
        width: 2.6rem;
        height: auto;

        &:hover {
            width: 2.8rem;
        }
    }

    header {
        padding: .4rem 6rem;
    }

    > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;

        padding: .5rem;
        backdrop-filter: blur(2.5px);
        overflow-y: auto;

        div {
            width: 100%;
        }

        .messagesBlock {
            display: flex;
            flex-direction: column;
            gap: 1px;

            .messageSelectBlock {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                .message {
                    width: auto;
                    height: auto;
                    padding: .4rem .7rem;
                    background-color: var(--border);

                    p {
                        text-align: left;
                        font-size: .9rem;
                        line-height: 1.4;
                        cursor: text;
                    }
                }

                &.right {
                    justify-content: flex-end;
                    
                    .message {
                        background-color: var(--brand-default);
                        
                        p {
                            color: var(--brand-000);
                        }
                    }
                }
            }

            > * {
                > * {
                    border-radius: var(--border-radius-s) var(--border-radius-l) var(--border-radius-l) var(--border-radius-s);
                }

                &.right {
                    > * {
                        border-radius: var(--border-radius-l) var(--border-radius-s) var(--border-radius-s) var(--border-radius-l);
                    }
                }
            }

            > *:first-child {
                > * {
                    border-radius: var(--border-radius-l) var(--border-radius-l) var(--border-radius-l) var(--border-radius-s);
                }

                &.right {
                    > * {
                        border-radius: var(--border-radius-l) var(--border-radius-l) var(--border-radius-s) var(--border-radius-l);
                    }
                    
                }
            }

            > *:last-child {
                > * {
                    border-radius: var(--border-radius-s) var(--border-radius-l) var(--border-radius-l) var(--border-radius-l);
                }

                &.right {
                    > * {
                        border-radius: var(--border-radius-l) var(--border-radius-s) var(--border-radius-l) var(--border-radius-l);
                    }
                }
            }

            > *:only-child > * {
                border-radius: var(--border-radius-l);
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        gap: .5rem;

        padding: 1rem;
        background-color: var(--bg);
        border-top: 2px solid var(--border);
        
        textarea {
            width: 100%;
            height: auto;
            padding: .8rem;
            background-color: var(--bg);
            border: 2px solid var(--border);
            border-radius: var(--border-radius-l);
            font-size: .9rem;
            // box-sizing: border-box;
        }

        &.multipleLines {
            align-items: flex-end;
        }
    }
}