.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  background-color: var(--brand-800);
  box-shadow: none;

  transform: translateX(100%);
  transition: transform .4s, box-shadow .4s;
  padding: 1.5rem;

  img {
    width: 1.5rem;
    transition: transform .5s ease;
  }

  img:hover {
    transform: rotateZ(-180deg) scale(1.1);
  }

  &.active {
    transform: translateX(0);
    box-shadow: 150px 0 100px 150px var(--brand-800);
  }
}