.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  // width: 40vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  background-color: var(--brand-200);
  box-shadow: 0 0 1000px 3vw var(--brand-200);

  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  padding: 1.5rem 3rem;
  opacity: 0;

  img {
    width: 1.5rem;
    transition: transform .5s ease;
  }

  img:hover {
    transform: rotateZ(-180deg) scale(1.1);
  }
}

.active {
  transform: translateX(0);
  opacity: 1;
}