.login, .register {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--bg);

    box-shadow: 0 0 50px -25px var(--bg);
    border-radius: var(--border-radius-l);
    margin: 1rem;
    padding: 2rem;

    input {
        padding: .2rem .5rem;
        border: 1px solid var(--border);
        border-radius: .25rem;
        letter-spacing: 1px;
    }

    > p {
        color: var(--secondary-fg);
    }

    > p:last-child {
        text-align: center;
    }
}