.modal {
    position: fixed;
    z-index: 9999;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity .1s ease;

    background-color: hsla(var(--brand-000), .25);

    * {
        color: var(--bg);
        cursor: auto;
    }

    img {
        height: 1.5rem;
        transition: transform .5s ease;
    }

    img:hover {
        transform: rotateZ(-180deg) scale(1.1);
    }

    div, p {
        width: 25vw;

        display: flex;
        gap: .5rem;

        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--fg);
        border: 1px solid var(--secondary-fg);
        box-shadow: 0 0 100px -30px var(--secondary-fg);
        scrollbar-color: var(--bg) var(--fg);
        overflow-wrap: break-word;
    }

    > div {
        height: 30vh;
        flex-direction: column;
        overflow-x: visible;
    }

    > div > div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    > div > p {
        overflow-y: auto;
        display: block;
        height: 100%;
    }
    
    &.active {
        opacity: 1;
        pointer-events: auto;
        cursor: pointer;
    }
}

