:root {
  --brand-default: hsl(37, 38%, 80%); // - initial
  --brand-900: hsl(37, 33%, 74%);
  --brand-800: hsl(37, 28%, 68%);
  --brand-700: hsl(37, 22%, 61%);
  --brand-600: hsl(37, 16%, 54%);
  --brand-500: hsl(37, 11%, 53%); // - initial
  --brand-400: hsl(37, 11%, 43%);
  --brand-300: hsl(37, 11%, 33%);
  --brand-200: hsl(37, 11%, 23%);
  --brand-100: hsl(37, 11%, 13%);
  --brand-000: hsl(0, 100%, 2%); // - initial

  --bg: hsl(216, 18%, 16%);
  --fg: hsl(0, 0%, 98%);
  // --secondary-fg: hsl(0, 0%, 68%);
  --border: hsl(217, 10%, 25%);
}