:root {
  --brand-default: hsl(153.1 60.2% 52.7%);
  --brand-700: hsl(154.9 59.5% 70%);
  --brand-600: hsl(154.9 100% 25%);
  --brand-500: hsl(154.9 100% 19.2%);
  --brand-400: hsl(155.5 100% 9.6%);
  --brand-300: hsl(155.1 100% 8%);
  --brand-200: hsl(162 100% 2%);

  --bg: hsl(0, 0%, 7.1%);
  --fg: hsl(0, 0%, 98%);
  --secondary-fg: hsl(0, 0%, 68%);
  --border: hsl(0, 0%, 18%);
}