* {
  font-family: var(--font-main), Helvetica;
  color: var(--highlight);
  line-height: 1.5;

  text-decoration: none;
  list-style: none;

  /* Firefox */
  scrollbar-color: var(--highlight) var(--bg);
  scrollbar-width: thin;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: .5rem;
  border: 3px solid var(--bg);
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 7%);
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, .image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  object-fit: cover;
  object-position: center;
}

.linked-text {
  color: var(--highlight);
  text-decoration: underline;
  white-space: nowrap;
  transition: var(--transition) 0.2s;
}

.linked-text:hover {
  text-decoration: underline;
}

hr {
  margin-block: 5px;
  border: 1px solid var(--middle);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

input, button {
  border: none;
  background: none;
  outline: none;
  appearance: none; /* Safari */
}

input, button, textarea, select {
  font-size: inherit;
}

.cursor-pointer {
  cursor: pointer;
}