* {
  font-family: var(--font-main), Helvetica;
  color: var(--fg);
  line-height: 1.5;

  text-decoration: none;
  list-style: none;

  /* Firefox */
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;

  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--fg);
    border-radius: .5rem;
    border: 3px solid var(--bg);
  }

  ::before, ::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, .image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  object-fit: cover;
  object-position: center;
}

.linked-text {
  color: var(--highlight);
  text-decoration: underline;
  white-space: nowrap;
  transition: var(--transition) 0.2s;

  :hover {
    text-decoration: underline;
  }
}

hr {
  margin-block: 5px;
  border: 1px solid var(--border);
}

input, button {
  border: none;
  background: none;
  outline: none;
  appearance: none; /* Safari */
}

input, button, textarea, select {
  font-size: inherit;
}

.cursor-pointer {
  cursor: pointer !important;
}

.no-scroll {
  overflow: hidden;
}