* {
  font-family: var(--font-main), monospace;
  font-weight: 500;
  color: var(--fg);
  line-height: 1.5;

  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  // Firefox
  @supports (scrollbar-color: var(--fg) var(--bg)) {
    scrollbar-color: var(--fg) var(--bg);
    scrollbar-width: thin;
  }

  // Chrome, Edge, Safari
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--fg);
    border-radius: .5rem;
    border: 3px solid var(--bg);
  }

  &::before, &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, .image {
  @extend .no-select;
  object-fit: cover;
  object-position: center;
  display: block;
}

.linked-text {
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  @extend .cursor-pointer;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  width: 85%;
  border: 1px solid var(--border);
}

input, textarea, button {
  border: none;
  background: none;
  outline: none;
  appearance: none; // Safari
  resize: none;
  caret-color: var(--fg);
  
  padding: 0;
}

input, button, textarea, select {
  font-size: inherit;
}

legend {
  color: var(--secondary-fg);
}

abbr {
  position: relative;
}

abbr::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 120%;
  left: 10%;
  background: hsl(var(--brand-000));
  padding: .3rem .4rem;
  border-radius: var(--border-radius-s);
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

abbr:hover::after {
  opacity: 1;
}

.cursor-pointer {
  cursor: pointer !important;
}

.no-scroll {
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}