.sidebar {
    position: relative;
    width: fit-content;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-shrink: 0;
    
    background-color: var(--bg);
    border-right: 2px solid var(--border);

    * {
        transition: all .125s ease;
    }

    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        gap: 1rem;

        margin: 1rem .8rem;
        padding: .2rem .4rem;
        border-radius: var(--border-radius-m);

        img {
            width: 2.7rem;
            height: auto;
            background-color: var(--border);
            border-radius: var(--border-radius-m);
        }

        > div {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            > *:first-child {
                max-width: fit-content;
                line-height: .9;
            }

            > *:last-child {
                color: var(--secondary-fg);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &:hover {
            background-color: var(--border);

            img {
                background-color: var(--bg);
            }
        }
    }

    > nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        img {
            width: 2.4rem;
            height: auto;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-content: center;
            gap: .4rem;

            padding-block: .8rem;
            border-top: 2px solid var(--border);

            > * {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                gap: .5rem;

                padding: .2rem .4rem;
                margin-inline: .8rem;
                border-radius: var(--border-radius-m);
                text-align: center;
                cursor:pointer;

                &:hover {
                    background-color: var(--border);

                    img {
                        width: 2.7rem;
                    }
                }

                &:hover:active {
                    img {
                        width: 2.5rem;
                    }
                }
            }
        }
    }

    .grabTool {
        position: absolute;
        right: -1px;
        width: 8px;
        height: 100%;
        transform: translateX(50%);
        cursor: grab;
    }

    &:has(.grabTool:hover) {
        border-right-color: var(--secondary-fg);
    }

    &.thin {
        min-width: calc(3.5rem + 2 * .4rem + 2 * .8rem);
        max-width: calc(3.5rem + 2 * .4rem + 2 * .8rem);
        .profile {
            justify-content: center;
            padding: 0;

            img {
                width: 3rem;
            }

            > div {
                display: none;
            }

            &:hover {
                background-color: var(--bg);
            }
        }

        > nav {
            img {
                width: 2.7rem;
            }

            > div {
                align-items: center;

                > * {
                    justify-content: center;

                    &:hover {
                        img {
                            width: 3rem;
                        }
                    }

                    &:hover:active {
                        img {
                            width: 2.8rem;
                        }
                    }

                    h4 {
                        display: none;
                    }
                }
            }
        }
    }
}