header {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg);

    padding-block: 14px;
    padding-inline: 14%;
    border-bottom: 1px solid var(--border);

    div, nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .logo {
        margin-right: 1rem;
    }

    .logo h2 {
        color: var(--brand-default);
    }

    nav *:hover {
        color: var(--brand-default);
        transition: color .2s ease-in-out;
    }

    button {
        background-color: var(--brand-500);
        border: 1px solid var(--brand-600);

        border-radius: .35rem;
        padding: .25rem .8rem;
    }

    button:hover {
        transition: all .15s ease-out;
        background-color: var(--brand-600);
        border: 1px solid var(--brand-700);
    }

    .githubLogo {
        display: flex;
        width: 30px;
    }
}