.header {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg);

    padding-block: 14px;
    padding-inline: 14%;
    border-bottom: 1px solid var(--border);
}

.header > div, .header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header a:first-child {
    margin-right: 1rem;
}

.header h2 {
    color: var(--brand-default);
}

.header p:hover {
    color: var(--brand-default);
    transition: color .2s ease-in-out;
}

.header button {
    background-color: var(--brand-500);
    border: 1px solid var(--brand-600);

    border-radius: .35rem;
    padding: .25rem .8rem;
}

.header button:hover {
    transition: all .15s ease-out;
    background-color: var(--brand-600);
    border: 1px solid var(--brand-700);
}

.header .githubLogo {
    width: 30px;
}