.header {
    /* background-color: var(--black); */
    background-color: none;
    height: fit-content;
    padding-block: .5rem;
    padding-inline: 20%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}