header {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg);

    padding-block: 14px;
    padding-inline: 14%;
    border-bottom: 2px solid var(--border);

    div, nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    > nav {
        .logo {
            margin-right: 2.4rem;

            h2 {
                color: var(--brand-default);
            }
        }

        div {
            gap: 1rem;

            > *:hover {
                color: var(--brand-900);
                transition: color .2s ease-in-out;
            }
        }
    }

    > div {
        gap: 1.2rem;

        button {
            background-color: var(--brand-500);
            border: 1px solid var(--brand-800);

            border-radius: var(--border-radius-s);
            padding: .25rem .8rem;

            &:hover {
                transition: all .15s ease-out;
                background-color: var(--brand-600);
                border: 1px solid var(--brand-900);
            }
        }

        .githubLogo {
            width: 30px;
        }
    }
}